.theme-btn {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
   
  .theme-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

/* sintasis css */
  :root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
}
 
:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
button {
    color: var(--text-color);
}
.dark svg {
  color : var(--text-color);
  background-color: var(--bg-color);
  -webkit-filter : invert(100%);
  filter : invert(100%)
}